@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===============NAV MENU============== */

.navbar {
  background: url(./assets/gameBackgroundHeader.png);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 440px;
}

.navbar a {
  color: white;
  padding-right: 20px;
}

a:hover {
  color: red;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 10px;
  color: white;
}

.name {
  font-size: 40px;
  font-family: New Rocker;
  letter-spacing: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

/* =============================================== */

html,
body {
  background: url(./assets/gameBackground.png);
  background-size: cover;
  color: white;
}

body {
  margin-top: 80px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

p,
li,
h3,
h4,
h5 {
  text-align: center;
  font-size: 20px;
}

h1,
h3 {
  color: Red;
  margin-bottom: 15px;
  margin-top: 15px;
}

hr {
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 10px;
  border: none;
  border-top: 3px double #ffffff;
  color: red;
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 1000px;
}

hr::after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
