@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");

.landingPageBody {
  background: no-repeat url(./assets/SitemapIndexed2.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landingPageTitle {
  font-family: New Rocker;
  font-size: 100px;
  letter-spacing: 20px;
  margin-bottom: 40px;
  color: white;
  padding: 0;
}

.landingPageDesc,
.landingPageDesc2,
.credit,
.developers {
  font-size: 20px;
  color: white;
}

.credit {
  margin-top: 40px;
  color: red;
}

.developers,
.landingPageDesc2 {
  margin-top: 0;
}

.landingPageButton {
  padding: 12px 24px;
  font-size: 25px;
  background-color: #16a085;
  border: none;
  border-radius: 8px;
  margin-top: 50px;
}

.landingPageButton:hover {
  background-color: #00ffcc;
}

.developed {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
